#
# Example pillar configuration
#
supervisor:
  programs:
    my-app:
      autorestart: true
      autostart: true
      command: "/opt/app/my-app/bin/my-app.sh --some_param=something"
      directory: /opt/app/my-app/bin
      enabled: true
      environment: "PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin"
      redirect_stderr: true
      startretries: 10
      startsecs: 5
      stderr_logfile: /var/log/my-app/error.log
      stdout_logfile: /var/log/my-app/my-app.log
      stdout_logfile_backups: 10
      stdout_logfile_maxbytes: 50MB
      stopsignal: INT
      user: root
