# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml "supervisor/defaults.yaml" as defaults %}
{% import_yaml "supervisor/osmap.yaml" as osmap %}
{% import_yaml "supervisor/codenamemap.yaml" as codemap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap) or {} %}

{# get the settings for the oscodename grain, os_family data will override oscodename data #}
{% set oscode = salt['grains.filter_by'](codemap, grain='oscodename', merge=osfam) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.supervisor.update(oscode) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('supervisor:lookup', default=defaults.supervisor, merge=True) %}

{# merge the actual supervisor pillar into the above combined dict #}
{% set supervisor = salt['pillar.get']('supervisor', default=lookup, merge=True) %}
